<h3>Add Player</h3>

<form ng-submit="vm.addPlayer()">

    <div class="form-group">
        <label for="firstName">First name:</label>
        <input type="text" ng-model="vm.player.firstName" class="form-control" name="firstName" id="firstName">
    </div>

    <div class="form-group">
        <label for="lastName">Last name:</label>
        <input type="text" ng-model="vm.player.lastName" class="form-control" name="lastName" id="lastName">
    </div>

    <div class="form-group">
        <label for="number">Number:</label>
        <input type="number" ng-model="vm.player.number" class="form-control" name="number" id="number">
    </div>

    <div class="form-group">
        <label for="dateOfBirth">Date of birth:</label>
        <input type="date" ng-model="vm.player.dateOfBirth" class="form-control" name="dateOfBirth" id="dateOfBirth">
    </div>

    <div class="form-group">
        <label for="playerType">Position:</label>
        <select class="form-control" name="playerType" id="playerType">
            <option ng-repeat="type in vm.types" value="{{type}}">{{type}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <button type="reset" class="btn btn-default" ng-click="vm.reset()">Reset</button>
</form>