<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Pasta avond</h2>
    </div>
    <div class="col-md-12">
        <p>
            Sk de Brug is een bijzondere club, de clubliefde wordt er nog ouderwets van vader op zoon overgedragen, een zeldzaam fenomeen in het mondiale voetbal.
            Zo komt het dat op goede dagen een vijftal maten en ex-spelers van weleer op hun geheel eigen wijze het spel van hun zes zonen en jawel zelfs schoonzoon
            van commentaar voorzien.
        </p>

        <form ng-submit="vm.sendMail()">

            <div class="form-group">
                <label for="name">Naam</label>
                <input type="date" ng-model="vm.reservation.name" class="form-control" name="name" id="name">
            </div>

            <div class="form-group">
                <label for="time">Naam</label>
                <input type="text" ng-model="vm.reservation.time" class="form-control" name="time" id="time">
            </div>

            <div class="form-group">
                <label for="lookbrood">Lookbrood</label>
                <input type="number" ng-model="vm.reservation.lookbrood.amount" class="form-control" name="lookbrood" id="lookbrood">
            </div>

            <div class="form-group">
                <label for="pasta">Pasta</label>
                <input type="number" ng-model="vm.reservation.pasta.amount" class="form-control" name="pasta" id="pasta">
            </div>

            <div class="form-group">
                <label for="pasta">Veggie</label>
                <input type="number" ng-model="vm.reservation.veggie.amount" class="form-control" name="veggie" id="veggie">
            </div>

            <div class="form-group">
                <label for="pasta">Child</label>
                <input type="number" ng-model="vm.reservation.child.amount" class="form-control" name="child" id="child">
            </div>

            <div class="form-group">
                <label for="dessert">Dessert</label>
                <input type="number" ng-model="vm.reservation.dessert.amount" class="form-control" name="dessert" id="dessert">
            </div>

            <button type="submit" class="btn btn-primary">Versturen</button>
            <button type="reset" class="btn btn-default" ng-click="vm.reset()">Reset</button>

            {{ calc() }}
        </form>


        <a href="club.html" class="btn btn-default">Lees meer</a>
    </div>
</div>

