<div class="row" data-ng-show="vm.message">
    <div class="col-lg-12">
        <div class="alert bg-success text-success" role="alert" data-ng-show="vm.message.success">
            <i class="fa fa-check" aria-hidden="true"></i> {{ vm.message.text }} <a href="#0" data-ng-click="vm.hideMessage()" class="pull-right">
            <i class="fa fa-close text-success" aria-hidden="true"></i>
        </a>
        </div>
        <div class="alert bg-danger text-danger" role="alert" data-ng-show="vm.message.error">
            <i class="fa fa-exclamation" aria-hidden="true"></i> {{ vm.message.text }} <a href="#0" data-ng-click="vm.hideMessage()" class="pull-right">
            <i class="fa fa-close text-danger" aria-hidden="true"></i></a>
            <ul data-ng-show="vm.message.errors">
                <li ng-repeat="error in vm.message.errors">
                    {{error}}
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" ng-model="vm.registration.email" class="form-control" name="email"
           id="email">
</div>

<div class="form-group">
    <label for="name">Naam</label>
    <input type="text" ng-model="vm.registration.name" class="form-control" name="name"
           id="name">
</div>

<br/>
<button type="submit" class="btn btn-primary" ng-click="vm.sendMail()" data-ng-hide="vm.isSending">
    Versturen
</button>
<button type="submit" class="btn btn-primary" data-ng-show="vm.isSending" disabled>
    Even geduld <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
</button>
<button type="reset" class="btn btn-default" ng-click="vm.reset()" data-ng-hide="vm.isSending">Reset</button>