<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Update Team</h1>
    </div>
</div>

<div class="row" data-ng-show="vm.message">
    <div class="col-lg-12">
        <div class="alert bg-success" role="alert" data-ng-show="vm.message.success">
            <svg class="glyph stroked checkmark">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-checkmark"></use>
            </svg>
            {{ vm.message.text }} <a href="#0" data-ng-click="vm.hideMessage()" class="pull-right"><span
                class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div class="alert bg-danger" role="alert" data-ng-show="vm.message.error">
            <svg class="glyph stroked cancel">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-cancel"></use>
            </svg>
            {{ vm.message.text }} <a href="#0" data-ng-click="vm.hideMessage()" class="pull-right"><span
                class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form ng-submit="vm.addTeam()">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" ng-model="vm.team.name" class="form-control" name="name" id="name">
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <button type="reset" class="btn btn-default" ng-click="vm.reset()">Reset</button>
        </form>
    </div>
</div>